<library path="lib/librqt_ur">
  <class name="rqt_ur/MyPlugin" type="rqt_ur::MyPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A C++ GUI plugin for sending a goal to the action server.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>UR (experimental)</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A C++ GUI plugin for UR.</statustip>
    </qtgui>
  </class>
</library>
